#!/usr/bin/env bash

# Easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ~="cd ~"

# Shortcuts
alias g="git"
alias c="clear"
alias codeCheck="pre-commit run --all-files"
alias h="history"
alias mv="mv -i"
alias rm="rm -I --preserve-root"
alias mkdir="mkdir -pv"
alias cp='cp -i'
alias wget='wget -c'
alias rmpy="find . -type d -regextype 'posix-extended' -regex '.*(__pycache__|\.pytest_cache)' -ls -exec rm -r {} +"

alias ls='ls -lhF --time-style=long-iso --color=auto'
alias ll='ls -ahlF --time-style=long-iso --color=auto'
alias la='ls -A'
alias l='ls -CF'
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Package Management
alias update="sudo apt update && sudo apt upgrade -y"
alias install="sudo apt install"

# IP addresses
alias ip='curl icanhazip.com'

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "${method}"="lwp-request -m '${method}'"
done

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Returns highest consuming processes for memory and cpu
alias mem5='ps auxf | sort -nr -k 4 | head -5'
alias mem10='ps auxf | sort -nr -k 4 | head -10'
alias cpu5='ps auxf | sort -nr -k 3 | head 5'
alias cpu10='ps auxf | sort -nr - k 3 | head 10'

# Prints the last command run
alias lcom="history | tail -n 2 | head -n 1 | cut -d ' ' -f 4-"

# returns the weather
alias weather='curl wttr.in'

# reload bash
alias reload="source ~/.bashrc"
